* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 1px;
}

.container {
    background-color: #20321f;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    margin-top: 20px;
}

.uname {
    text-transform: capitalize;
}

body {
    background-color: #20321f;
    /* overflow: hidden;    */
}

td {
    background-color: #59d484;
    color: black;
}

tr {
    /* background-color: #cff9c8;                     */
    background-color: #a3f5e8;
    /* color: white;          */
}

@media (max-width: 767px) {
    /* CSS styles for mobile devices */
    /* For screens with a maximum width of 767 pixels */

    /* Example styles */
    body {
        font-size: 14px;
    }

    .container {
        width: 60%;
        background: linear-gradient(#59d484, #a3f5e8);
        padding: 10px;
    }

    #tab {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        /* width: 70%; */
        width: 500px;
        /* margin: auto auto; */
    }

    /* Add your own styles here */
}
