*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 1px;
     
}

.container{
    background-color: black;  
    display: flex;
    justify-content: center;
    /* align-items: center; */
    height: 100vh;
    width: 100vw;
    overflow: hidden;   
    margin-top: 20px;
}           

.uname{
    text-transform: capitalize; 
}

body{
    background-color: black;
    overflow: hidden;   
}

td{
    background-color: #59d484   ;  
    color: black;       
}

tr{
    /* background-color: #cff9c8;                     */
    background-color: #a3f5e8;                    
    /* color: white;          */
}
